<nav>
      <ul>
         <li> <a href="/users">Users</a> </li>
         <li> <a href="/photos">Photos</a> </li>
      </ul>
    </nav>
    
<h1>List of users</h1>

<form action="/insert_user">
  <label for="la">Username</label>
  <input id="la" name="q_username" placeholder="Enter a username..."> 

  <button>Add user</button> 

</form>

<table border="1">

<tr>

<th>ID</th>
<th>Username</th>
<th>
</th>

</tr>

<% @list_of_users.each do |user| %>
<tr>

<td> <%= user.id %> </td>
<td> <%= user.username %> </td>
<td> <a href="/users/<%= user.username %>">Show Details</a>  </td>

</tr>
<% end %>

</table>
